*{
    font-family: sans-serif;
    color: white;
}

/* body{
    background-color: rgba(37,37,37,255);
} */

.container{
    margin: 0;     
    padding: 0; 
}

.header{
    background-color: rgba(37,37,37,255);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 3px;
}

.navbar>img{
    height: 50px;
}